@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
}

body {
  background-color: #141414;
  color: white;
}

@utility safe-area-top {
  padding-top: env(safe-area-inset-top);
}

@utility safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
